* {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
    /* Ocultar scroll */
}

body {
    width: 100%;
    margin: 0;
    color: white;
    overflow-x: hidden;
}


/*GRID ES EL BODY*/

.grid-carta {
    display: grid;
    /*DISEÑO LA GRILLA*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    /*                   -----------------------------------------------*/
    grid-template-areas: /*|*/
    "header header header header "/*|*/
    /*                 -----------------------------------------------*/
    /*|*/
    "contenido contenido contenido contenido"/*|*/
    /*                 -----------------------------------------------*/
    /*|*/
    "platos  platos platos platos"/*|*/
    /*                 -----------------------------------------------*/
    "bebidas  bebidas bebidas bebidas "
    /*|*/
    "footer footer footer footer ";
    /*|*/
}

footer {
    background-color: rgb(18, 15, 19);
    grid-area: footer;
}


/*Lo siguiente es el copy del menu*/

.grid-carta .header {
    grid-area: header;
    grid-area: header;
    background: rgb(9, 4, 22);
    color: white;
    background: url(../assets/img/cartafondo1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

header nav {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

header nav ul li a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li .activo {
    text-decoration: underline;
}

.menu_bar {
    display: none;
}

header .eslogan {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header .eslogan h1 {
    font-weight: 400;
    text-align: center;
    font-size: calc(1em + 3.5vw);
}

header .eslogan h1 .nombre {
    color: #FFB40D;
}

header .eslogan .linea {
    width: calc(1em + 40vw);
    height: 5px;
    background-color: #FFB40D;
    border: none;
}


/*Contenido*/

.contenido {
    grid-area: contenido;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenido h2 {
    margin-bottom: 30px;
    font-size: calc(1em + 1.5vw);
    font-weight: 600;
    width: 80%;
}

.contenido p {
    font-size: calc(1em + 0.5vw);
    width: 80%;
    margin-bottom: 100px;
}

.contenido p strong {
    color: #FFB40D;
}


/*Seccion de los platos, preferi usar directamente flexbox porque comparten el mismo fondo*/

.platos {
    grid-area: platos;
    width: 100%;
    height: auto;
    background-image: url(../assets/img/cartafondo2.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 80px;
}


/*Platos 1*/

.platos .platos-italiano {
    padding: 20px;
    width: 40%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.platos .platos-italiano .contenedor-italiano .titulo {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px, 5px, auto, 5px;
    color: black;
}

.platos .platos-italiano .contenedor-italiano .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
    border-bottom: 1px dashed #FFB40D;
}


/*Platos 2*/

.platos .platos-americano {
    padding: 20px;
    width: 40%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.9);
}

.platos .platos-americano .contenedor-americano .titulo {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px, 5px, auto, 5px;
    color: black;
}

.platos .platos-americano .contenedor-americano .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
    border-bottom: 1px dashed #FFB40D;
}


/*Bebidas seccion*/

.bebidas {
    background-image: url(../assets/img/cartafondo3.jpg);
    grid-area: bebidas;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.bebidas .contenedor-bebidas {
    background-color: rgba(255, 255, 255, 0.9);
    width: 50%;
    color: black;
    padding: 20px;
}

.bebidas .contenedor-bebidas .titulo {
    text-align: center;
}

.bebidas .contenedor-bebidas .info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px dashed #FFB40D;
}

@media screen and (max-width: 800px) {
    .platos {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }
    .platos .platos-americano {
        width: 80%;
    }
    .platos .platos-italiano {
        width: 80%;
        margin-bottom: 50px;
    }
    .bebidas {
        padding: 20px;
    }
    .bebidas .contenedor-bebidas {
        width: 80%;
        padding: 20px;
    }
}


/*Footer*/

.footer {
    grid-area: footer;
    width: 100%;
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

footer .footer-nav img {
    width: 150px;
}

footer .footer-nav .subir {
    padding: 10px;
    border-radius: 50px;
}

footer .footer-nav .subir:hover {
    background-color: white;
}

footer .footer-nav .subir a img {
    width: 30px;
}

@media screen and (max-width: 1100px) {
    /*Media para el header*/
    header nav {
        background-color: black;
        top: 57px;
        left: -100%;
        width: 40%;
        height: 100%;
        margin: 0;
        position: fixed;
        z-index: 1000;
    }
    header nav ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    header .icono {
        display: none;
    }
    header nav ul li {
        display: block;
        width: calc(1em + 35vw);
        border-bottom: 2px solid #FFB40D;
        padding: 10px;
    }
    header nav ul li:hover {
        background-color: #FFB40D;
    }
    .menu_bar {
        display: flex;
        width: 100%;
        background-color: black;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 1000;
    }
    .menu_bar img {
        padding: 10px;
    }
}


/*Media para footer*/

@media screen and (max-width: 1000px) {
    .footer {
        height: 100px;
    }
    footer .footer-nav img {
        width: 100px;
    }
}

@media screen and (max-width: 700px) {
    footer {
        height: 80px;
    }
    footer .footer-nav img {
        width: 80px;
    }
}

@media screen and (max-width: 500px) {
    footer {
        height: 80px;
    }
    footer .footer-nav img {
        width: 50px;
    }
    footer .footer-nav .subir a img {
        width: 20px;
    }
}

@media screen and (max-width: 750px) {
    .grid-carta .header {
        height: 50vh;
    }
}